#Replace the values below with your own keys and deployment information.


VITE_CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:xxxxxxxxx-xxxxxx-00

VITE_CONVEX_URL=https://xxxxxxxx-xxxxxxxxxx-00.eu-west-1.convex.cloud

VITE_CONVEX_SITE_URL=https://xxxxxxxx-xxxxxxxxxx-00.eu-west-1.convex.site


# Convex API key for your project. You should add this in the Convex dashboard under "Settings" -> "API Keys".
CLERK_JWT_ISSUER_DOMAIN=https://xxxx-xxxxxx-00.clerk.accounts.dev

CLERK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

GEMINI_API_KEY=AQ.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

VITE_EMAILJS_PUBLIC_KEY=xxxxxxxxxxxxxxx

VITE_EMAILJS_SERVICE_ID=service_xxxxxxx

VITE_EMAILJS_TEMPLATE_ID=template_xxxxxxx